.container {
    width: 100px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #f00f0f;
    border-radius: 5px;
    background-color: rgb(223, 166, 209);
  }
  
  .mb-3 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .col-sm-2 col-form-label {
    font-weight: bold;
  }
  
  .form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btn btn-primary me-2 {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .btn-primary {
    background-color: #ff0099;
    color: #c22a2a;
  }
  
  .btn-primary:hover {
    background-color: #faa804;
  }
  
  .error-message {
    color: red;
  }
  